.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 3vh 10ch;
  }

  #form
  {
    margin: 0 auto;
    text-align: center;
    padding: 0 50ch;
  }

  #table
  {
    margin: 0 auto;
    margin-top: 5vh;
    text-align: center;
  }
  #pred
  {
    margin-top: 2vh;
    text-align: center;

     }